---
import { waLink, telLink } from '../data/site';
---

<div class="mob-cta">
  <a class="btn btn-wa" href={waLink()} target="_blank" rel="noopener">💬 WhatsApp</a>
  <a class="btn btn-call" href={telLink}>✆ Llamar</a>
</div>
